---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/* GEOCAMP STYLING */
$primary-color: #022362;
$secondary-color: #c72b66;
$tertiary-color: #ffa600;

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

    strong, .site-nav .page-link, .site-title {
        color: $primary-color;
    }

    a{
        color: $secondary-color;
    }

    a:visited{
        color: lighten($secondary-color, 25);
    }

    a:hover{
        color: $tertiary-color;
    }
    
    .svg-icon{
        fill: $primary-color;
    }

    h1, h2, h3, h4 {
        color: $primary-color;
    }
}

@media screen and (max-width: 600px) {
    .site-nav .menu-icon > svg {
        fill:$primary-color;
    }
}

.site-header {
    border-top: 0px;
    border-bottom: 1px dotted $secondary-color;

    img.header-logo{
        height: 54px;
    }
}
.site-footer {
    border-top: 1px dotted $secondary-color;
}



/* Map component */
#map {
    width: 100%;
    height: 600px;
    margin: 10px 0;

    .mapboxgl-popup-content{
        h3 {
            font-size: 0.8rem;
            font-weight: 800;
        }
        p {
            margin: 5px 0 0 0;
        }
        p.caption {
            text-align: right;
            font-size: 100%;
        }
    }

    .map-icon-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        .map-icon-image{
        }
        h1 {
            font-size: 0.8rem;
            margin: 0;
        }
    }
}


/* Pages styles */
.page-content{
    h2{
        border-top-color: $secondary-color;
        border-top-style: dashed;
        border-top-width: 0.05em;
        padding-top: 15px;
        margin-top: 30px;
    }

    /* Generic gallery layout */
    .gallery{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center;
        align-content: center;
    
        .card{
            flex-grow:1;
            text-align:center;

            img{
                max-width: 200px;
                margin: 5px;
            }
            .caption{
                text-align: center;
                font-size: 0.8em;
            }
        }
    }
    
    /* Image captions */
    .caption{
        text-align: right;
        font-size: .6em;
    }

    hr {
        border-top: 1px dotted $secondary-color;
        margin: 10px 0;
    }
}
